{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<section class="header">
  <nav>
    <a href="{% url 'home' %}">
      {% load static %}
      <img src="{% static 'images/logo_2.png' %}" width="10%" /></a>
   
<div class="nav-links" id="navLinks">
  <i class="fa fa-times-circle-o" onclick="hideMenu()"></i>
  <ul>
    
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'recipe:search' %}">Search</a></li>
    <li><a href="{% url 'recipe:index' %}">Category</a>
      <div class="sub-about">
        
        <ul>
          <li><a href = "{% url 'recipe:meat' %}" >Meat</a></li>
          <li><a href = "{% url 'recipe:app' %}" >Appitizer</a></li>
          <li><a href = "{% url 'recipe:bev' %}" >Beverage</a></li>
          <li><a href = "{% url 'recipe:hal' %}" >Halal</a></li>
          <li><a href = "{% url 'recipe:norm' %}" >Dessert</a></li>
          <li><a href = "{% url 'recipe:oco' %}" >Ovo vegan</a></li>
          <li><a href = "{% url 'recipe:vegy' %}" >Vegetarian</a></li></li>
      </ul>
    </div>
    </li>
    <li><a href="#" class="About">About</a>
      <div class="sub-about">
          <ul>
              <li><a href="{% url 'about:index' %}">Contact us</a></li>
              <li><a href="https://github.com/6210612773/cookbookfoodguide">Git Hub</a></li>
              <li><a href="https://www.pivotaltracker.com/n/projects/2535892">pivotaltracker</a></li>
          </ul>
      </div>
    </li>
    <li ><a href="{% url 'logout' %}">Log Out</a></li>
    <li ><a href="#">{{ user.username }}</a>
      <div class="sub-about">
        <ul>
          <li><a href = "{% url 'EditProfile' %}" >Edit profile</a></li>
          <li><a href = "{% url 'EditPassword' %}" >Edit password</a></li>
          
      </ul>
    </div>
    </li>
</ul></div>
<i class="fa fa-bars" onclick="showMenu()"></i>
</nav>

</section>
<!-- <div class="text-box">
  <h1>Welcome, {{ user.username }}!</h1>
  <p>
    You can reach out to us if you need any help or question 
  </p>
</div> -->
<div class="text-home">
  <h1>Welcome, {{ user.username }}!</h1>
  <p>
    You can reach out to us if you need any help or question <br><br>
  </p>
    <!-- {{ user.email }}</h1> -->
    {%if user.username == "admin" %}
    <a href = "{% url 'recipe:order' %}" >Order</a>
    <a class="btn" href = "{% url 'recipe:petition' %}">Petition</a>
    <a href = "{% url 'recipe:addmenu' %}" style="margin-left: 30px;">User add menu</a>
    <a class="btn" href = "{% url 'admin:index' %}" >Edit data</a>
  <!-- <button class="w3-button w3-round-xlarge" ><a href="{% url 'admin:index' %}">Edit data</a></button> -->
    {% else %}
    <a href = "{% url 'recipe:myrecipe' %}" >Your recipe</a>
    <a class="btn" href = "{% url 'recipe:mylike' %}" >Your favorite</a>
    <a href = "{% url 'recipe:purchased' %}" style="margin-left: 30px;" >Purchased</a>
    <a class="btn" href = "{% url 'recipe:addrecipe' %}" >Add recipe</a>
    {% endif %}
  </div>
{% else %}
<body>
  <section class="header">
    <nav>
      <a href="{% url 'home' %}">
        {% load static %}
        <img src="{% static 'images/logo_2.png' %}" width="10%" /></a>
     
  <div class="nav-links" id="navLinks">
    <i class="fa fa-times-circle-o" onclick="hideMenu()"></i>
    <ul>
      
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'recipe:search' %}">Search</a></li>
      <li><a href="{% url 'recipe:index' %}">Category</a>
        <div class="sub-about">
          <ul>
            <li><a href = "{% url 'recipe:meat' %}" >Meat</a></li>
            <li><a href = "{% url 'recipe:app' %}" >Appitizer</a></li>
            <li><a href = "{% url 'recipe:bev' %}" >Beverage</a></li>
            <li><a href = "{% url 'recipe:hal' %}" >Halal</a></li>
            <li><a href = "{% url 'recipe:norm' %}" >Dessert</a></li>
            <li><a href = "{% url 'recipe:oco' %}" >Oco vegan</a></li>
            <li><a href = "{% url 'recipe:vegy' %}" >Vegetarian</a></li></li>
        </ul>
      </div>
      </li>
      <li><a href="#" class="About">About</a>
       <div class="sub-about">
            <ul>
                <li><a href="{% url 'about:index' %}">Contact us</a></li>
                <li><a href="https://github.com/6210612773/cookbookfoodguide">Git Hub</a></li>
                <li><a href="https://www.pivotaltracker.com/n/projects/2535892">pivotaltracker</a></li>
            </ul>
        </div>
      </li>
      <li ><a href="{% url 'login' %}">Log In</a></li>
      <li ><a href="{% url 'signup' %}">Sign Up</a></li>
</ul></div>
<i class="fa fa-bars" onclick="showMenu()"></i>
</nav>
  <div class="text-box">
    <h1> Cookbook Foodguide</h1>
    <p> Please select your ingredient and enjoy your recipe</p>
    <a href="{% url 'recipe:search' %}" class="hero-btn">Search</a>
  </div>
</section>

<script>

    var navLinks = document.getElementById("navLinks");

    function showMenu(){
      navLinks.style.right = "0";
    }
    function hideMenu(){
      navLinks.style.right = "-200px";
    }

</script>



  </body>
{% endif %}
{% endblock %}