{% extends "about/layout.html" %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>About Us</title>
</head>
{% block title %}{% endblock %}

  {% block content %}
  <body>
    <div class="nav">
    <ul>
      
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'home' %}">Find</a></li>
      <li><a href="#news">Menu</a>
        <ul>
          <li><a href="#news">Menu1</a></li>
          <li><a href="#news">Menu1</a></li>
          <li><a href="#news">Menu1</a></li>
          <li><a href="#news">Menu1</a></li>
          <li><a href="#news">Menu1</a></li>
          <li><a href="#news">Menu1</a></li>

        </ul>
      </li>
      <li><a href="{% url 'about:index' %}">About</a></li>
      <li style="float:right; margin:0px; "><a href="{% url 'login' %}">Log In</a></li>
      <li style="float:right; margin:0px; "><a href="{% url 'signup' %}">Sign Up</a></li>
</ul></div>
    <br><br><br><br>
  <h1>Cookbook food guide</h1><center>
  <p2 style="text-align:center">Our Team</p2></center>
  <div class="row">
  <div class="column">
    <div class="card">
             {% load static %}
     <center><br>
       <img src="{% static 'images/default.png' %}" width="30%" /></center>
      <div class="container">
        <center><h2>ธัญพิสิฐ แกมทอง</h2></center>
        <center><p1 class="title">6210612534</p1></center>
      </div>
    </div>
  </div>
   <div class="column">
    <div class="card">
      {% load static %}
      <center><br>
       <img src="{% static 'images/default.png' %}" width="30%" /></center>
      <div class="container">
        <center><h2>อนุชนา ปัญญาประดิษฐ์</h2></center>
        <center><p1 class="title">6210612575</p1></center>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      {% load static %}
       <center><br>
       <img src="{% static 'images/default.png' %}" width="30%" /></center>
      <div class="container">
        <center><h2>ปฐากร สุขแสง</h2></center>
        <center><p1 class="title"> 6210612773</p1></center>
      </div>
    </div>
  </div>
</div>
 <div class="column">
    <div class="card">
      {% load static %}
      <center><br>
       <img src="{% static 'images/default.png' %}" width="30%" /></center>
      <div class="container">
        <center><h2>จารุกร ล่ำชม</h2></center>
        <center><p1 class="title"> 6210612708</p1></center>
      </div>
    </div>
  </div>
</div>
 
   
  
  </ul>
  <nav>
    <ul>
      <li><a href="{% url 'about:Goals' %}">Goals</a></li>
      <li><a href="{% url 'about:Personas' %}">Personas</a></li>
      <li><a href="{% url 'about:stories' %}">stories</a></li>
      <li><a href="{% url 'about:Sitemap' %}">Sitemap</a></li>
      <li><a href="{% url 'about:Descriptions' %}">Descriptions</a></li>
      <li><a href="{% url 'about:Wireframes' %}">Wireframes</a></li>
      <li><a href="{% url 'about:non_funtional' %}">non_funtional , Risks , Future Iterations</a></li>
    <li><a href="https://github.com/6210612773/cookbookfoodguide">Git Hub</a></li>
    <li><a href="https://www.pivotaltracker.com/n/projects/2535892">pivotaltracker</a></li>
    </ul>
  </nav>
  <main>
    {% endblock %}
  </main>
</body>
</html>
