@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
.page {
    width: 90vw;
    margin: 0 auto;
    padding-top: 2rem;
    min-height: calc(100vh - (10rem + 10rem ));
}


*, ::after, ::before {
    box-sizing: border-box;
}
.recipe-page .recipe-hero {
    /* display: grid;
    grid-template-columns: 3fr auto; */
    /* padding-left: 50px;  */
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}

.recipe-hero-img {
    height: 500px;
    width: 50%;
    border-radius: 10px;

}
.recipe-hero p{
    color: grey;
}

.recipe-content {
    display: grid;
    gap: 3rem;
    grid-template-columns: 2fr 2fr;
    padding-left: 150px;
    
}

/* @media screen and (min-width: 992px) {
    .recipe-page .recipe-hero {
        grid-template-columns: 4fr 5fr;
        align-items: center;
    }
    .recipe-content {
        grid-template-columns: 2fr 2fr;
    }
} */

.single-instruction header {
    display: grid;
    grid-template-columns: 1f 2f;
    gap: 1.5rem;
    align-items: center;
}
header div{
    height: 2px;
    background: coral;
}

/* .recipe-content .container {
    max-width: 1400px;
    width: 200%;
    background: rgb(238, 223, 223);
    padding: 30px 25px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 3fr 2fr;
} */

.btn-menu a {
    border-radius: 6px;
    border: 2px solid rgb(228, 198, 102);
    background: rgb(228, 198, 102);
    color: rgb(252, 243, 243);
    padding: 10px 30px;
    text-decoration: none;
    letter-spacing: 0.5px;
    margin-left: 150px;
    margin-top: 30px;
}

.btn-menu a:hover {
    background: rgb(233, 164, 14);
    color: rgb(255, 254, 254);
}

.show-comment {
    margin-left: 150px;
    margin-top: 50px;
}

.show-comment .container-comment {
    max-width: 500px;
    height: 100px;
    background: linear-gradient(rgba(237, 238, 241, 0.7),rgba(255, 255, 255, 0.7));
    padding: 25px 35px;
    border-radius: 5px;
}

.recipe-content .heading {
    padding: 0.15rem;
    font-size: 24px;
    color: rgb(0, 0, 0);
}
.heading span{
    color: #fa1100;
}

h2 {
    margin-top: 30px;
    font-size: 45px;
}