@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
        @import url(https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css);
        * {
          margin: 0;
          padding: 0;
          font-family: 'Ubuntu', sans-serif;
        }
        body  {
          background-image: linear-gradient(rgba(205, 207, 216, 0.7),rgba(255, 255, 255, 0.7)), url(/static/images/bg7.jpg) ;
          background-size: cover;
          background-position: center;
          background-attachment: fixed;
        }
        nav {
          display: flex;
          padding: 2% 6%;
          justify-content: space-between;
          align-items: center;
        }
        nav img{
          width: 150px;
        }
        .nav-links{
          flex: 1;
          text-align: right;
        }
        .nav-links ul li{
          list-style: none;
          display: inline-block;
          padding: 20px 20px;
          position: relative;
        }
        .nav-links ul li a{
          color: black;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 13px;
        }
        .nav-links ul li::after{
          content: '';
          width: 0%;
          height: 2px;
          background: #f44336;
          display: block;
          margin: auto;
        }
        .nav-links ul li:hover::after{
          width: 100%;
        }
        .text-box{
          color: rgb(14, 13, 13);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
        }
        .text-box h1{
          font-size: 62px;
        }
        .text-box p{
          margin: 10px 0 40px;
          font-size: 14px;
        }
        .hero-btn{
          display: inline-block;
          text-decoration: none;
          color: black;
          border: 1px solid rgb(3, 3, 3);
          padding: 12px 34px;
          font-size: 16px;
          background: transparent;
          position: relative;
          cursor: pointer;
        }
        .hero-btn:hover {
          border: 1px solid #f44336;
          background: #f44336;
          transition: 1s;
        }
        nav .fa{
          display: none;
    
        }
    
        @media (max-width: 700px){
          .text-box h1{
            font-size: 50px;
          }
          .nav-links ul li {
            display: block;
          }
          .nav-links {
            position: fixed;
            background: #f44336;
            height: 100vh;
            width: 200px;
            top: 0;
            right: -200px;
            text-align: left;
            z-index: 2;
            transition: 1s;
          }
          nav .fa{
            display: block;
            color: #fff;
            margin: 10px;
            font-size: 22px;
            cursor: pointer;
          }
          .nav-links ul{
            padding: 30px;
          }
        }
        
        .sub-about {
          display: none;
        }
        .nav-links ul li:hover .sub-about {
            display: block;
            position: absolute;
            background: #f44336;
            margin-top: 15px;
            margin-left: -15px;
        
        }
        .nav-links ul li:hover .sub-about ul {
          display: block;
          margin: 10px;
        }
        .nav-links ul li:hover .sub-about ul li{
          width: 150px;
          padding: 10px;
          background: transparent;
          border-radius: 0;
          text-align: left;
        }
        .nav-links ul li:hover .sub-about ul li :last-child{
          border-bottom: none;
        }
        .nav-links ul li:hover .sub-about ul li a:hover{
          color: white;
        }
        .heading {
            text-align: center;
            font-size: 3.5rem;
            padding: 1rem;
            color: #666;
        }
        .heading span{
            color: #f44336;
        }
        .dishes .box-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
        }
        .dishes .box-container .box {
            flex: 1 1 30rem;
            position: relative;
            overflow: hidden;
            box-shadow: 0 0.5rem .1rem rgb(0, 0, 0, .1);
            border: .1rem solid rgb(0, 0, 0, .3);
            cursor: pointer;
            border-radius: .5rem;
        }
        .dishes .box-container .box .image {
            height: 100%;
            width: 100%;
            object-fit: absolute;
            top: -100%; left: 0;
        }
        .dishes .box-container .box .content {
            text-align: center;
            background-color: none;
            padding: 0.5rem;
        }
        .dishes .box-container .box .content h3 {
            padding: 0.15rem;
            font-size: 1.25rem;
            color: #333;
        }
          /* .meat {
            width: 80%;
            margin: auto;
            text-align: center;
            padding-top: 100px;

        }
        .meat h1 {
            font-size: 50px;
        }
        .meat h2 {
            font-size: 24px;
            font-family: 'Ubuntu', sans-serif;
            text-decoration: none;
        }
        .column {
        float: left;
        width: 25%;
        margin-bottom: 20px;
        padding: 0 8px;
        }

        .card {
        box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
        }
        .container {
        padding: none;
        }

        .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
        }
        @media screen and (max-width: 650px) {
        .column {
        width: 100%;
        display: block;
            }
        } */