<h1>Order</h1>
{% load static %}


{% for list_order in order %} 
    {% if list_order.confirm == "no" %}
    <img class="image" src="{{o.pic.url}}" style="width: 50%; ;"/><br>
    <a href="{% url 'recipe:check' o.id  %}" >check</a>
        {{list_order.confirm}}
        {{list_order.user}}
        {{list_order.date}} 
        {{list_order.time}}<br>
    {% endif %}
{% endfor %}

<br><br><br><br><br><br><br>
<button class="w3-button w3-round-xlarge" ><a href="{% url 'admin:index' %}">Edit data</a></button>
