{% extends 'recipe/base.html' %}
{% load static %}
{% block content %}


<section class="dishes" id="dishes">
    <h1 class="heading">Peti<span>tion</span></h1>
      <div class="box-container">
        {% for list_petition in petition %}  
        {% if list_petition.confirm == "no" %}
              <div class="box">
                  <h3>{{list_petition.user}}
                    {{list_petition.date_added}} <br>
                    {{list_petition.petition}}<br></h3></a>
                    <button class="button" ><a class="fa fa-check" href="{% url 'admin:index' %}">Edit data</a></button>
                  
              </div>
            {% endif %}
          {% endfor %}
      </div>
</section>


{% endblock %}