{% extends 'recipe/base_addmenu.html' %}

{% load static %}

{% block content %}


<section class="dishes" id="dishes">
    <h1 class="heading">Add<span>Menu</span></h1>
      <div class="box-container">
          {% for list_menu in user_addmenu %} 
            {% if list_menu.confirm == "no" %}
              <div class="box">
                  <img class="image" src="{{list_menu.pic.url}}" style="width: 50%; ;"/><br>
                  <h3>{{list_menu.user}} {{list_menu.menu}}</h3></a>
                  <button class="button" ><a class="fas fa-check" href="{% url 'admin:index' %}">Check</a></button>
              </div>
            {% endif %}
          {% endfor %}
      </div>
</section>
    
{% endblock %}
