{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" 
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{%static 'css/addmenu.css' %}">
    <link rel="stylesheet" href="{%static 'css/style-navbar.css' %}">
    <title>Edit profile</title>
</head>
    <body>
        <section class="header">
            <nav>
                <a href="{% url 'home' %}">
                  {% load static %}
                  <img src="{% static 'images/logo_2.png' %}" width="10%" /></a>
               
              <div class="nav-links" id="navLinks">
                <i class="fa fa-times-circle-o" onclick="hideMenu()"></i>
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'recipe:search' %}">Search</a></li>
                  <li><a href="{% url 'recipe:index' %}">Category</a>
                    <div class="sub-about">
                      <ul>
                        <li><a href = "{% url 'recipe:meat' %}" >Meat</a></li>
                        <li><a href = "{% url 'recipe:app' %}" >Appitizer</a></li>
                        <li><a href = "{% url 'recipe:bev' %}" >Beverage</a></li>
                        <li><a href = "{% url 'recipe:hal' %}" >Halal</a></li>
                        <li><a href = "{% url 'recipe:norm' %}" >Dessert</a></li>
                        <li><a href = "{% url 'recipe:oco' %}" >Oco vegan</a></li>
                        <li><a href = "{% url 'recipe:vegy' %}" >Vegetarian</a></li></li>
                      </ul>
                    </div>
                  </li>
                <li><a href="{% url 'about:index' %}" class="About">About</a>
                  <div class="sub-about">
                    <ul>
                      <li><a href="{% url 'about:index' %}">Contact us</a></li>
                      <li><a href="https://github.com/6210612773/cookbookfoodguide">Git Hub</a></li>
                      <li><a href="https://www.pivotaltracker.com/n/projects/2535892">pivotaltracker</a></li>
                    </ul>
                  </div>
                </li>
                <li ><a href="{% url 'logout' %}">Log Out</a></li>
                <li ><a href="#">{{ user.username }}</a>
                  <div class="sub-about">
                    <ul>
                      <li><a href = "{% url 'EditProfile' %}" >Edit profile</a></li>
                      <li><a href = "{% url 'EditPassword' %}" >Edit password</a></li>
                      <li><a href = "{% url 'recipe:send' %}" >Contact us</a></li>  
                    </ul>
                  </div>
                </li>
                </ul>
              </div>
              <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>
          </section>

          <script>

            var navLinks = document.getElementById("navLinks");
        
            function showMenu(){
              navLinks.style.right = "0";
            }
            function hideMenu(){
              navLinks.style.right = "-200px";
            }
        
        </script>
        
        <main>
          {% block content %}
          {% endblock %}
        </main>
    </body>
</html>