{% block body %}

<!-- <div class="search-container">
    <form action="{% url 'recipe:mode' %}/post" method="POST">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit" onclick="">find</button>
    </form>
  </div> -->

  <input type="checkbox" checked="checked">

<!-- {% for list_menu in recipes %}
<a href = "{% url 'recipe:menu' list_menu.id %}" >
    
    {% if list_menu.type == "meat" %}
        {{list_menu.menu}}<br></a>
    {% endif %}

{% endfor %} --><br>
<a href = "{% url 'recipe:mode' %}" >mode</a><br>
<!-- <a href = "{% url 'recipe:meat' %}" >meat</a><br>
<a href = "{% url 'recipe:app' %}" >app</a><br>
<a href = "{% url 'recipe:bev' %}" >bev</a><br>
<a href = "{% url 'recipe:hal' %}" >hal</a><br>
<a href = "{% url 'recipe:norm' %}" >norm</a><br>
<a href = "{% url 'recipe:oco' %}" >oco</a><br>
<a href = "{% url 'recipe:veg' %}" >veg</a><br>
<a href = "{% url 'recipe:vegy' %}" >vegy</a><br> -->

    {% endblock %}