{% extends 'recipe/layout.html' %}
{% load static %}
{% block content %}


  <input type="checkbox" checked="checked">



{% endfor %} --><br>
<a href = "{% url 'recipe:mode' %}" >mode</a><br>
<!-- <a href = "{% url 'recipe:meat' %}" >meat</a><br>
<a href = "{% url 'recipe:app' %}" >app</a><br>
<a href = "{% url 'recipe:bev' %}" >bev</a><br>
<a href = "{% url 'recipe:hal' %}" >hal</a><br>
<a href = "{% url 'recipe:norm' %}" >norm</a><br>
<a href = "{% url 'recipe:oco' %}" >oco</a><br>
<a href = "{% url 'recipe:vegy' %}" >vegy</a><br> -->

    {% endblock %}