{% extends 'recipe/base_menu.html' %}

{% block content %}
{% if menu.price > 0.0  %}
{% if menu.member.all  %}
  {% for member in menu.member.all %}
    {% if user == member %}
      <body>

          
          <main class="page">
            <div class="recipe-page">
              <section class="recipe-hero">
                <img class="recipe-hero-img" src="{{menu.pic.url}}" >
                <h2>{{menu.menu}}</h2>
               
              </section>
              <br><br><br>
              <section class="recipe-content">
                <article>
                  <h4 class="heading">Ingre<span>dient</span></h4>
                        <br>
                       
                  <div class="single-instruction">
                    <head>
                      {% for list in ingredient %}
                      <p>{{list}}
                        <br>
                        <br>  
                      </p>
                      <div></div>
                    </head>
                
                    {% endfor %}
                  </div>
                
                </article>
                <article class="second-column">
                  <div>
                    <h4 class="heading">Intruc<span>tions</span></h4>
                    
                    {% for how in howtodo %}
                    <p class="single-ingredient">
                      {{how}}
                      <br>
                      <br>
                    </p>
                    {% endfor %}
                  </div>
                </article>
              </section>
              <br><br>
              {% if user.username != "" %}
                <div class="btn-menu">
                <a href = "{% url 'recipe:AddComment' menu.id %}" >Add comment</a>
                </div>
                {% endif %}
        
                <div class="show-comment">
                {% for com in comment %}
        
                {% if com.post == menu  %}
                <div class="container-comment">
                {{com.user}} {{com.date_added}}<br>
                    {{com.body}} <br>
                    <br><br>
                  </div>    
                    
                  {% endif %}
                {% endfor %}
                <br><br><br><br><br>
                
              </div>
            </div>
          </main>
         
    {% else %}  
    
    <center style="margin-top: 3%;">
      คุณยังไม่ได้ซื้อเมนูนี้ <br> <br>
      <a href="{% url 'recipe:confirm' menu.id %}" class="hero-btn">Buy</a>
            </center>
    {% endif %}  
    {% endfor %}{% else %} 
     
    <center style="margin-top: 3%;">
      คุณยังไม่ได้ซื้อเมนูนี้ <br> <br>
      <a href="{% url 'recipe:confirm' menu.id %}" class="hero-btn" >Buy</a>
            </center>{% endif %} 
{% else %}
    <body>
      
        
        <main class="page">
          <div class="recipe-page">
            <section class="recipe-hero">
              <img class="recipe-hero-img" src="{{menu.pic.url}}" >
              <h2>{{menu.menu}}</h2>
              
            </section>
            <br><br><br>
            <section class="recipe-content">
              <article>
                <h4 class="heading">Ingre<span>dient</span></h4>
                      <br>
                     
                <div class="single-instruction">
                  <head>
                    {% for list in ingredient %}
                    <p>{{list}}
                      <br>
                      <br>  
                    </p>
                    <div></div>
                  </head>
                  {% endfor %}
                </div>
              
              </article>
              <article class="second-column">
                <div>
                  <h4 class="heading">Intruc<span>tions</span></h4>
                  
                  {% for how in howtodo %}
                  <p class="single-ingredient">
                    {{ how }}
                    <br>
                    <br>
                  </p>
                  {% endfor %}
                </div>
              </article>
            </section>
            <br><br>
            {% if user.username != "" %}
              <div class="btn-menu">
              <a href = "{% url 'recipe:AddComment' menu.id %}" >Add comment</a>
              </div>
              {% endif %}
      
              <div class="show-comment">
              {% for com in comment %}
      
              {% if com.post == menu  %}
              <div class="container-comment">
              {{com.user}} {{com.date_added}}<br>
                  {{com.body}} <br>
                  <br><br>
                </div>    
                  
                {% endif %}
              {% endfor %}
              <br><br><br><br><br>
              
            </div>
          </div>
        </main>
{% endif %}  
{% endblock %}  

  