{% extends 'recipe/base_user.html' %}
{% load static %}
{% block content %}


<section class="dishes" id="dishes">
    <h1 class="heading">Your<span>Favorite</span></h1>
    <div class="box-container">
        {% for menu in recipes %}


        {% for i in menu.like.all %}
        {% if i == my %}
        <div class="box">
            <img class="image" src="{{menu.pic.url}}" style="width: 50%; ;"/><br>
            <a href="{% url 'recipe:like' menu.id  %}" class="fa fa-heart"></a>
            <a href = "{% url 'recipe:menu' menu.id %}" >
            <h3>{{menu}}</h3></a>
            
        </div>
        {% endif %} 
        {% endfor %}
        
        
        {% endfor %}
        
  </div>
</section>




<!-- {% for menu in add %}



    {% if menu.User == my %}
        {{menu}}<br>
    {% endif %} 



{% endfor %} -->

{% endblock %}

<!-- {% for menu in recipes %}


{% for i in menu.like.all %}
    {% if i == my %}
        {{menu}}<br>
    {% endif %} 
{% endfor %}


{% endfor %} -->