{% extends 'recipe/layout.html' %}

{% block title %}Menu Search{% endblock %}

{% block content %}




<form method="post">
  <center>
  {% csrf_token %}
    <h1 class="heading">ingre<span>dient</span></h1><br><br>
    <table style="margin-left: 3%;">
      <tr>
      {% for list_formHave in form.Have %}   
        <td>{{list_formHave}}</td>
        {% if forloop.counter|divisibleby:5 %}
      </tr>
      <tr>
        {% endif %}
      {% endfor %} 
      </tr>
    </table><br><br>

  <h1 class="heading">Aller<span>gies</span></h1><br><br>
  <table style="margin-left: 3%;">
    <tr>
    {% for list_formDontNeed in form.DontNeed %}   
      <td>{{list_formDontNeed}}</td>
      {% if forloop.counter|divisibleby:5 %}
    </tr>
    <tr>
      {% endif %}
    {% endfor %} 
    </tr>
  </table>
  <br><br><br><br>  
  <button type="submit" class="hero-btn">Search</button><br><br><br>
  </center>
</form>

{% endblock %}
