{% extends 'recipe/layout.html' %}

{% block title %}Menu Search{% endblock %}

{% block content %}




<form method="post">
  {% csrf_token %}
  <h1 class="heading">ingre<span>dient</span></h1>
  <table style="margin-left: 3%;">
  <tr>
  {% for i in form.Have %}   
  <td>
  {{i}}  
  </td>

    {% if forloop.counter|divisibleby:5 %}
  </tr>
  <tr>
    {% endif %}

  {% endfor %} 
</tr>
  </table>



  <h1 class="heading">Aller<span>gies</span></h1>
  <table style="margin-left: 3%;">
    <tr>
  {% for i in form.DontNeed %}   
  <td>
    {{i}}  
    </td>
  
      {% if forloop.counter|divisibleby:5 %}
    </tr>
    <tr>
      {% endif %}
  
    {% endfor %} 
  </tr>
    </table>







  <br>  <br>  <br>  <br>  
  <button type="submit" class="btn">Add Recipe</button>
</form>

{% endblock %}
